#These are the following environment variables to put in your .env

--------
API_TOKEN= xXxXxXxXxXXXxXxxXXXXXXxxXXXXXXXXXXXXXXXXX
SHOW_COMPANIES= true or false
--------


#Good to know, if you are changing env variables in the development you will need to restart the dev server for the changes to take place
#If you need the API_TOKEN for local development contact Ole