/* In css comments require / + *; use shortcut cmd + / (ctr + /) for more convenience */



/* Buttons */
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
a {
  text-decoration: none;
}

.wrapper {
  padding-top: 4rem;
}

.button {
  background-color: transparent;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 2rem;
  padding: 0.8rem 1rem;
  border: 0.25rem solid var(--clr-black);
  color: var(--clr-black);
  transition: color 0.2s;
}

.button:hover {
  color: var(--clr-lightbeige);
}

.button-blue {
  border: 0.25rem solid var(--clr-blue);
  color: var(--clr-blue);
}

.button-blue:hover {
  color: var(--clr-lightbeige);
}

.button-darkblue {
  border: 0.25rem solid var(--clr-darkblue);
  color: var(--clr-darkblue);
}

.button-darkblue:hover {
  color: var(--clr-lightblue);
}

.modal-close-button {
  position: absolute;
  right: 0;
  top: 0;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.2666666667);
  width: 2.5rem;
  height: 2.5rem;
  margin-top: 2.5rem;
  margin-right: 2.5rem;
}

/* General Page set-up */
@media (min-width: 768px) {
  :root {
    font-size: 18px;
  }
}

@font-face {
  font-family: "work-sans";
  src: url(assets\fonts\WorkSans-Regular.ttf);
  font-display: block;
}
@font-face {
  font-family: "Overpass";
  src: url(assets\fonts\Overpass-Black.ttf);
  font-display: block;
}
@font-face {
  font-family: "OverpassMono";
  src: url(assets\fonts\OverpassMono-VariableFont_wght.ttf);
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--clr-white);
  color: var(--clr-darkblue);
  margin: 0;
  padding: 0;
  font-family: Overpass, work-sans,sans-serif;
  letter-spacing: 0.03rem;
}

::-moz-selection {
  color: var(--clr-white);
  background: var(--clr-blue-400);
}

::selection {
  color: var(--clr-white);
  background: var(--clr-blue-400);
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

button {
  cursor: pointer;
}


/* Text */
h1,
h2,
h3 {
  margin-top: 0;
  font-family: Overpass;
  font-weight: initial;
}

h1 {
  font-size: 3rem;
  line-height: 100%;
  margin-bottom: 0;
}

@media (min-width: 640px) {
  h1 {
    font-size: 3.5rem;
  }
}
h2 {
  font-size: 2rem;
  margin-bottom: 0.8rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 0.4rem;
}

input, textarea, p, li, td {
  font-size: 1rem;
  margin: 0;
  font-family: work-sans;
}

ul {
  align-items: center;
  max-width: 50ch;
  padding-left: 1rem;
}

li {
  margin: 1rem 0;
}

.text-blue {
  color: var(--clr-blue);
}

.text-white {
  color: var(--clr-white);
}

.text-white-dim {
  color: rgba(255, 255, 255, 0.4);
}

.text-shadow {
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.inline-link {
  display: inline;
}

.divider {
  display: block;
  width: 8rem;
  color: rgba(255, 255, 255, 0.0666666667);
  margin: 3rem 0;
  margin-left: auto;
  margin-right: auto;
}


/* Variables */
:root {
  /* font-size: 16px   */
  --clr-darkyellow: rgb(213, 140, 59);
  --clr-yellow: rgb(234, 180, 64);
  --clr-lightyellow: #ffcf99;
  --clr-darkblue: #061d35;
  --clr-blue: #044ed5;
  --clr-white: #ffffff;
  --clr-lightbeige: #FFE9B1;
  --clr-black: rgb(0, 0, 0);
  --clr-purple: rgb(158, 41, 241);
  --clr-lightpurple: rgba(158, 41, 241, 0.53);
  --clr-lightblue: rgba(82, 99, 250, 0.53);
  
  /* new color variables to use */
  /* shades of blue */
  --clr-blue-100: #F2F3FF;
  --clr-blue-200: #e5e8ff;
  --clr-blue-300: #c8ceff;
  --clr-blue-400: #a5b1ff;
  --clr-blue-500: #7a8eff;
  --clr-blue-600: #325fff;
  --clr-blue-700: #2c54e4;
  --clr-blue-800: #2649c5;
  --clr-blue-900: #1f3ca1;
  --clr-blue-1000: #162a72;
  /* shades of pink */
  --clr-pink-100: #fff3f9;
  --clr-pink-200: #ffe6f4;
  --clr-pink-300: #ffcbe8;
  --clr-pink-400: #ffabdc;
  --clr-pink-500: #ff84cf;
  --clr-pink-600: #ff4cc2;
  --clr-pink-700: #e443ad;
  --clr-pink-800: #c53a96;
  --clr-pink-900: #a1307a;
  --clr-pink-1000: #722156;
  /* shades of yellow */
  --clr-yellow-100: #fffaf2;
  --clr-yellow-200: #fff5e5;
  --clr-yellow-300: #ffeac9;
  --clr-yellow-400: #ffe0a8;
  --clr-yellow-500: #ffd47f;
  --clr-yellow-600: #ffc93f;
  --clr-yellow-700: #e4b338;
  --clr-yellow-800: #c59b30;
  --clr-yellow-900: #a17f27;
  --clr-yellow-1000: #72591c;
  /* shades of grey */
  --clr-grey-100: #F0F0F0;
  --clr-grey-200: #E2E2E2;
  --clr-grey-300: #C6C6C6;
  --clr-grey-400: #ABABAB;
  --clr-grey-500: #909090;
  --clr-grey-600: #767676;
  --clr-grey-700: #5E5E5E;
  --clr-grey-800: #464646;
  --clr-grey-900: #303030;
  --clr-grey-1000: #1B1B1B;
  
  --width-p: 47%;
  --height-p:14.25rem;
}


/* Footer */
footer {
  background-color: var(--clr-lightblue);
}

.footer-content {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding-bottom: 2rem;
}

.footer-content div {
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .footer-content {
    flex-direction: row;
  }
  .footer-content div {
    margin-right: 2rem;
    min-width: 12rem;
  }
}
.social-links {
  display: flex;
  flex-direction: column;
}

.link-icon {
  width: 1.5rem;
  margin-right: 0.5rem;
}

.link-text {
  color: var(--clr-darkblue);
  font-weight: 700;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  transition: color 0.2s;
}

.link-text:hover {
  color: var(--clr-blue);
}

address {
  font-style: normal;
}




/* Contact Form */



/* Hero */
.hero,
section,
footer {
  padding: 1.5rem 1.5rem;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  align-items: flex-start;
}

@media (min-width: 640px) {
  .hero {
    padding-bottom: 1.5rem;
  }

section,
footer {
    padding: 4rem;
  }
  section,
footer {
    align-items: center;
  }
}
.hero-buttons {
  display: flex;
}

.button-contact {
  margin-left: 1rem;
}

.hero-chevron-down {
  width: 2rem;
  color: var(--clr-white);
  align-self: center;
  margin-top: 2rem;
}


/* Sections */
.sponsors-image {
  width: 100%;
  max-width: 72rem;
  margin: 2rem 0;
}

@media (min-width: 640px) and (max-width: 1023px) {
  .sponsors-image {
    width: 28rem;
  }
}
.exhibitors {
  margin-top: 2rem;
}

.join {
  padding-top: 0;
  padding-bottom: 0;
}

.join-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.join-wrapper img {
  width: 24rem;
  max-width: 100%;
}

.join .text-content {
  max-width: 50ch;
  width: 100%;
  margin-top: 3rem;
}

@media (min-width: 1024px) {
  .join-wrapper {
    flex-direction: row-reverse;
  }
  .join .text-content {
    margin-top: 0;
    margin-right: 3rem;
  }
}
.create-profile-button {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.fair-content {
  max-width: 70ch;
}

.fair > h2 {
  align-self: flex-start;
}

.fair > p {
  text-align: left;
}

.soon {
  background-image: url("@/assets/img/soon_image.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 2/1;
  min-height: 48rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.soon-content {
  max-width: 70ch;
}/*# sourceMappingURL=main.css.map */
