@media (min-width: 768px) 
  :root 
    font-size: 18px  
  


html 
  scroll-behavior: smooth  


*,
::before,
::after 
  box-sizing: border-box  


body 
  background-color: var(--clr-darkblue)  
  color: var(--clr-white)  
  margin: 0  
  padding: 0  
  font-family: proxima-nova, sans-serif  
  letter-spacing: 0.03rem  


::selection 
  color: var(--clr-white)  
  background: var(--clr-yellow)  


input,
select,
textarea,
button 
  font-family: inherit  
  font-size: inherit  
  letter-spacing: inherit  


button  
  cursor: pointer  