:root 
  /* font-size: 16px   */
  --clr-darkyellow: rgb(213, 140, 59)  
  --clr-yellow: rgb(234, 180, 64)  
  --clr-lightyellow: #ffcf99  
  --clr-darkblue: #061d35  
  --clr-blue: #044ed5  
  --clr-white: #ffffff  